<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>PHTV</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string>PHTV - Precision Hybrid Typing Vietnamese. Vietnamese input method for macOS.</string>
	<key>CFBundleIconFile</key>
	<string>PHTV</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.1</string>
	<key>CFBundleSpokenName</key>
	<string>PHTV Vietnamese Input</string>
	<key>CFBundleVersion</key>
	<string>8</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Used for keyboard</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Phạm Hùng Tiến. All rights reserved.</string>
	<key>NSHumanReadableDescription</key>
	<string>Vietnamese input method with Telex, VNI support for macOS</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://phamhungtien.github.io/PHTV/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>F+3YESLwzN0aoT6o6uiQWempYxL4W5czJxsN+dcUZa8=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
